body {
    background-image: linear-gradient(#0000007a, #386150), url("../images/tavlingbakgrund.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#cirkel #content a {
    transition: 1s; 
    text-decoration: underline; 
    text-decoration-color: transparent; 
}
#cirkel2 #content a {
    transition: 1s; 
    text-decoration: underline; 
    text-decoration-color: transparent; 
}
#cirkel #content a:hover{
    text-decoration-color: white;
}
#cirkel2 #content a:hover{
    text-decoration-color: white;
}
#cirkel #content {
    padding: 30px;
}
#cirkel{
    border: 3px solid #C6A523; 
    background-image: url("../images/cirkel.png"); 
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;  
    padding: 17%; 
    border-radius: 50%;
    margin-left: auto; 
    margin-right: auto; 
    display: flex; 
    justify-content: center; 
}
#cirkel2 {
    border: 3px solid #C6A523; 
    background-image: url("../images/cirkel2.png"); 
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;  
    padding: 15%; 
    border-radius: 50%;
    margin-left: auto; 
    margin-right: auto; 
    display: flex; 
    justify-content: center; 
}
#klubbv {
    display: flex; 
    justify-content: space-evenly;
    padding-bottom: 60px; 
}

#cirkel2 #content {
    padding: 90px 50px; 
}
.hacke {
    transition: 1s; 
}
#rubrik {
    color: white; 
}
#rubrik2 {
    color: white; 
    margin-bottom: 80px; 
    display: inline-block; 
}
.hacke:hover::before {
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background-image: linear-gradient(#0000007a, #386150),url("../images/hacke.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.sten:hover::before {
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background-image: linear-gradient(#0000007a, #386150),url("../images/sten.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.malan:hover::before {
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background-image: linear-gradient(#0000007a, #386150),url("../images/malan.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.brun:hover::before {
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background-image: linear-gradient(#0000007a, #386150),url("../images/brun.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bjarn:hover::before {
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background-image: linear-gradient(#0000007a, #386150),url("../images/brun.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.katt:hover::before {
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background-image: linear-gradient(#0000007a, #386150),url("../images/sten.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}