body {
    font-family: sans-serif;
    margin:0; 
    text-align: center; 
    background-color: #284539;  
}
header {
    color: #C6A523; 
    font-size: 60px; 
    margin-top: 40px; 
    padding: 30px; 
}
#background {
    background-image: linear-gradient(rgba(0, 0, 0, 0), black),url("../images/harr.png"); 
    width: 100%; 
    height: 400px; 
}
#NSFK {
    width: 42%; 
    min-width: 50px; 
    height: auto; 
    border: 3px solid #C6A523;
    border-radius: 5px; 
    display: block; 
}
#NSFK:hover {
    border: 3px solid #a2881e;
}
#menu {
    display: flex; 
    background-color: #386150;
    padding: 8px; 
}
#menu a {
    flex: 1; 
    border-right: 3px solid #C6A523;
    border-radius: 1px; 
}
#menu a:last-child {
    border-right: none;
}
#menu a:first-child {
    border-right: none;
}
#menu a #blimedlem:hover {
    color: #C6A523; 
}
#background p {
    font-size: 25px; 
    color: white; 
    margin-top: 50px; 
}
#hamburger {
    text-decoration: none; 
    border: none; 
    background: none;
    text-align: left;
}
#fiskekort {
    text-decoration: none; 
    border: none; 
    color: white; 
    background-color: #C6A523; 
    padding: 5px; 
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 20px; 
    border-radius: 25px; 
    margin-top: 3%; 
}
#fiskekortA {
    padding-right: 40px; 
    padding-left: 40px; 
}
#fiskekort:hover {
    background-color: #a98e20;
    color: rgb(224, 220, 220);  
}
#checkout {
    width: 20%; 
    min-width: 30px; 
    margin: auto; 
    padding: 3px; 
    border-bottom: 3px solid #C6A523;
    display: block; 
}
#blimedlem {
    text-decoration: none; 
    border: none; 
    background: none;
    font-size: 15px; 
    color: white; 
    margin-top: 12px;
}
#mobile-menu {
    display:none; 
}
#myLinks {
    display: none; 
}
a.active {
    background-color: #284539;
    border-radius: 50%; 
}
@media only screen and (max-width: 700px) {
    #background p {
        font-size: 20px; 
    }
    header {
        padding-top: 150px; 
        font-size: 40px; 
    }
    #menu a #blimedlem{
        display: none;
    }
    #menu a {
        border: none;
        display: none; 
        background-color: rgba(0, 0, 0, 0);
    }
    #menu {
        display: none; 
    }
    #mobile-menu {
        display: flex;  
        justify-content: space-between; 
        position: fixed; 
        overflow: hidden;
        background-color: #333;
        position: relative;
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 10%; 
    }
    #mobile-menu a {
        margin-top: 5px; 
        margin-left: 5px; 
        margin-right: 5px; 
    }
    #NSFK {
        width: 60px; 
        height: auto; 
        border: 3px solid #C6A523;
        border-radius: 5px; 
        display: block; 
        background-color: yellow;
    }

}