body {
    margin: 0; 
}
#sortering {
    text-align: center; 
    color: white; 
}
#right {
    display: flex; 
    justify-content: space-evenly;
    width: 100%; 
}
#shoptext {
    background-color: rgba(0, 0, 0, 0.614); 
    color: #C6A523;  
    z-index: 1000;
    padding: 2%; 
}
#image:nth-child(1){
    background-image: url("../images/spö.jpg");
}
#image:nth-child(2){
    background-image: url("../images/rulle.jpg");
}
#image:nth-child(3){
    background-image: url("../images/lina.jpg");
}
#image {
    width: 25%;
    height: auto;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#shoptext p {
    text-decoration: underline; 
}
#shop {
    display: flex; 
    width: 100%; 
}
#left {
    list-style: none; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.251); 
    width: 20%; 
}
#left ul {
    margin-top: 15%; 
}
@media only screen and (max-width: 700px) {
    #left {
        display: flex; 
        flex-wrap: wrap; 
        background-color: rgba(0, 0, 0, 0); 
        padding: 5%;
        width: 100%; 
        margin: 0; 
    }
    h1 {
        font-size: 20px; 
    }
    #left ul {
        margin: 0; 
    }
    #shop {
        display: block; 
        width: 100%; 
    }
    #sortering {
        margin-top: 80px; 
    }
}